<h1>Workout: {{ workoutName() }}</h1>

<div class="action">{{ currentAction().action }}</div>

<div class="timer">{{ displayTimer() }}</div>
<button (click)="startNextAction()" class="btn">
  {{
    currentAction().type === 'START'
      ? 'Start'
      : currentAction().type === 'FINISH'
        ? 'Finish'
        : 'Skip'
  }}
</button>
@if (currentAction().type === 'ACTIVE' || currentAction().type === 'BREAK') {
  <button (click)="pauseToggle()" class="btn">
    {{ isPaused() ? 'Continue' : 'Pause' }}
  </button>
}
@if (isPaused()) {
  <button (click)="reset()" class="btn btn-alert">Reset</button>
}
@if (currentAction().type === 'BREAK') {
  <div>
    <div>Next up:</div>
    <div class="action">{{ nextAction().action }}</div>
  </div>
}
